:root {
    --text-color: rgb(55, 55, 47);
}

body {
    background-color: rgb(255, 216, 185);
    margin: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

/* Header styling */
header {
  background-color: rgb(52, 32, 20);
}

header > a h1 {
    margin: 0px;
    font-size: 20px;
    padding: 10px;
    align-content: center;
    font-style: italic;
    color: white;
}

header > a {
    text-decoration: none;
}

/* Navigation bar styling */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.nav-links a:hover {
  border: 1px solid white;
  border-radius: 10px;
}

/* hamburger icon + responsive design for small screens */
.menu-hamburger {
    display: none;
    color: white;
    font-size: 40px;
    padding: 0px;
    margin: 0px 10px;
}

#menu-checkbox {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: start;
        background: rgb(52, 32, 20);
    }

    ul li {
        margin: 10px;
    }

    #menu-checkbox:checked + label + ul {
        display: flex;
    }
}

/* all main sections are flexbox display */
main {
  display: flex;
  flex-direction: column;
}

/* Home page specific css */
/* Banner styling */
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-image: url(photos/hero-image-2.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.intro h1,
.intro p {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.807);
}

.intro h1 {
  font-size: 38px;
  padding: 20px 70px 10px;
  text-shadow: 2px 2px 2px rgb(127, 125, 125);
  font-weight: 100%;
}

.intro p {
  font-size: 18px;
  padding: 10px 70px 20px;
}

/* Decrease font size for better small screen responsiveness  */
@media screen and (max-width: 500px) {
  .intro h1 {
    font-size: 30px;
    padding: 10px;
  }

  .intro p {
    font-size: 16px;
    padding: 10px;
  }
}

/* About and featured section styling */
.about,
.featured {
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin: 30px;
  text-align: center;
}

.about h2,
.featured h2 {
  text-decoration: underline;
}

.about > p {
  padding: 10px 30px 20px;
  margin: 0px;
  font-size: 16px;
}

/* Styling the About section hightlights */
.about-highlights {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 100px;
}

.spotlight {
  display: flex;
  flex-direction: column;
  border: 2px dotted rgb(147, 145, 145);
  border-radius: 20px;
  padding: 30px;
  margin: 5px;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 220, 117);
  align-items: center;
  justify-content: center;
}

.spotlight h3 {
  font-size: 24px;
  overflow: hidden;
  text-align: center;
  margin: 0px;
  color: rgb(151, 67, 255);
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.spotlight p {
  font-size: 16px;
  overflow: hidden;
  text-align: center;
  margin: 0px;
}

/* Responsive design: format the hightlights as column*/
@media screen and (max-width: 768px) {
    .about-highlights {
      flex-direction: column;
    }
    .spotlight {
      align-self: center;
      margin: 6px;
    }
}

/* Featured Events section styling */
.featured {
  display: flex;
  flex-direction: column;
}

.featured .events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  margin: 20px 50px 40px;
}

.featured .events .event-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.featured .events .event-block p {
  margin: 0px 0px 15px;
}

.featured .events .event-block a img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 30px;
  border: 1px solid rgb(75, 59, 46);
  box-shadow: grey 2px 2px 2px 2px;
}

.featured .events .event-block a img:hover {
  transform: scale(1.05);
}

/* Event page specific css */
.events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events-page h1 {
  text-align: center;
  text-decoration: underline;
  background-color: lightyellow;
  padding: 20px;
  border-radius: 10px;
}

.events-page .event {
  display: flex;
  flex-direction: column;
  border: 2px dashed var(--text-color);
  border-radius: 30px;
  margin: 20px;
  padding: 15px 50px;
  max-width: 90vw;
  background-color: lightyellow;
  align-items: center;
}

.events-page .event .title h2 {
  text-align: center;
  overflow-wrap: anywhere;
}

.events-page .event .details {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 30px;
}

.events-page .event .details .flyer-image img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 30px;
  margin: 10px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
    .events-page .event .details {
        display: flex;
        flex-direction: column;
    }
}

/* Menu page specific css */

#menu-title {
  text-align: center;
  font-style: italic;
  font-size: 36px;
  padding: 0px;
}

#payment {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

.menu table {
  margin: 30px 100px;
  padding: 30px;
  border: 1px solid var(--text-color);
  border-radius: 30px;
  border-spacing: 20px;
  background-color: lightyellow;
}

.menu th {
  font-size: 24px;
  padding: 20px;
}

.menu table tr:hover {
  background-color: yellow;
}

/* Location page specific css */

.location-page {
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
  border-radius: 5px;
  margin: 30px;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.location-page h2 {
  text-decoration: underline;
  padding: 0px 30px;
  font-size: 36px;
}

.location-page p {
  padding: 0px 30px 30px;
  font-size: 20px;
}

#location-info {
  align-content: center;
}

#map img {
  max-width: 100%;
  max-height: 700px;
  object-fit: fill;
  border: 2px solid var(--text-color);
  border-radius: 5px;
}

/* Contact page specific css */

fieldset {
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
  margin: 40px;
  max-width: 100%;
  align-items: center;
  align-self: center;
  border-radius: 5px;
  border: 1px solid var(--text-color);
}

fieldset h1 {
  font-size: 36px;
  margin: 15px;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 15px 30px;
    justify-items: center;
}

label {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  justify-self: end;
}

input, textarea {
  justify-self: start;
  padding: 5px;
  margin: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  font-size: 20px;
  font-family: inherit;
}

textarea {
    width: 400px;
    height: 200px;
}

/* Resize form for smaller screens */
@media screen and (max-width: 768px) {
    form {
      margin: 5px;
    }
    fieldset h1 {
        font-size: 18px;
    }
    
    label {
        font-size: 14px;
    }
    
    input {
        font-size: 12px;
        width: 100px;
    }
    
    textarea {
        width: 150px;
        height: 50px;
        font-size: 12px;
    }
}

input:focus,
textarea:focus {
  border: 2px solid violet;
  box-shadow: violet 2px 2px 2px 2px;
}

/* style the "Submit" and "Reset" buttons of the form */
.buttons {
  grid-column: span 2;
  justify-self: end;
}

button {
  justify-items: center;
  font-size: 16px;
  font-family: inherit;
  background-color: rgb(247, 191, 85);
  border-radius: 5px;
}

button:active {
  transform: scale(1.05);
}

/* Footer-specific styling */
.footer {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer p {
  margin: 10px;
  font-size: 12px;
}

.social-media-icons a img {
  width: 20px;
  height: 20px;
}
